button {
	width: 100%;
	height: 100%;
	font-size: 5em !important;
	border-radius: 10px;
  }
  button:hover{
	width: 100%;
	height: 100%;
	font-size: 5em !important;
	background-color : rgb(41, 40, 44);
	color: whitesmoke;
	border-radius: 15px;
  }
  
  button.x {
	background-color: hsl(0, 100%, 65%); 
  }
  
  button.o {
	background-color: #6198ff;
  }